<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <title>Genêros</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link href="/webjars/materialize/1.0.0-beta/dist/css/materialize.css" type="text/css" rel="stylesheet"
          media="screen,projection"/>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
    <header class="red z-depth-3">
        <div class="row">
            <h2 class="center"><i class="material-icons medium">content_paste</i>Cadastro de Gêneros</h2>
        </div>
    </header>
    <div class="container z-depth-2">
        <div class="row">
            <div class="col s12">
                <table class="stripped">
                    <thead>
                        <tr>
                            <th>Descrição</th>
                            <th>Operações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="genero : ${generos}" class="operacoes">
                            <td th:text="${genero.descricao}"></td>
                            <td>
                                <a class="waves-effect waves-light btn btn-atualizar" th:href="@{${'/generos/'+genero.id}}" th:attr="data-id=${genero.id},data-descricao=${genero.descricao}"><i class="material-icons left">update</i>Atualizar</a>
                                <a class="waves-effect waves-light btn red" th:href="@{${'/generos/remover/'+genero.id}}"><i class="material-icons left">delete</i>Remover</a>
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>

    <div class="fixed-action-btn direction-top btn-add">
        <a class="btn-floating btn-large waves-effect waves-light red tooltipped" onclick="adicionar()" data-position="top" data-tooltip="Novo Gênero"><i class="material-icons">add</i></a>
    </div>

    <!-- Modal Structure -->
    <div id="modalDados" class="modal">
        <div class="modal-content">
            <h4>Dados do Gênero</h4>
            <div class="row">
                    <form class="col s12" id="formDados" data-id="/generos/" action="#" th:action="@{/generos/add}" th:object="${genero}" method="POST">
                <div class="row">
                    <div class="input-field col s2">
                        <input readonly="true" placeholder="Código" id="id" type="text" th:field="*{id}"/>
                        <label for="id">Código</label>
                    </div>
                    <div class="input-field col s10">
                        <input id="descricao" type="text" class="validate" th:field="*{descricao}"/>
                        <label for="descricao">Descrição</label>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn">Confirmar</button>
                    <a href="/generos/" class="modal-close waves-effect waves-green btn red">Cancelar</a>
                </div>  
                </form>
            </div>
        </div>
    </div>
    
    <div style="display: none;" id="mensagem" th:text="${msg}"></div>
    <div style="display: none;" id="comando" th:text="${comando}"></div>

    <script src="/webjars/jquery/2.2.4/jquery.js"></script>
    <script src="/webjars/materialize/1.0.0-beta/dist/js/materialize.min.js"></script>
    <script th:src="@{/js/script.js}"></script>

    <script>
        function adicionar(){
            $("#formDados").attr("action", $("#formDados").attr("data-id")+"add");
            $("#id").val("");
            $("#descricao").val("");
            M.Modal.getInstance(modalDados).open();
        };
    </script>
</body>
</html>